@import url(../css/root.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
  
}
.custom-container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
.ff-rubik{
    font-family: 'Rubik',sans-serif;
}
.btnn{
    padding: 12px 20px;
    border-radius: 41px;
    background: var(--fc-orange);
    border: 1px solid transparent;
    transition: all 300ms linear;
}
.gap-41{
    gap: 41px;
}
.nav_link:hover.clr-black{
    color: var(--fc-orange);
}
.btn-style:hover{
    background-color: var(--fc-white);
    color: var(--fc-orange);
    border: 1px solid var(--fc-orange);
}
.max-w-766{
    max-width: 766px;
}
.max-w-565{
    max-width: 565px;
}
.gap-17{
    gap: 17px;
}
.pb-lg-40{
    padding-bottom: 40px;
}
.flex_grow{
    flex-grow: 1;
}
.orange-circle{
    top: 5%;
    left: 34%;
    z-index: -1;
}
.page-1{
    top: -2%;
    left: -2%;
    z-index: -1;
}
.page-2{
    top: -2%;
   right: -2%;
   z-index: -1;
}
.page-3{
    bottom: -2%;
   left: -2%;
   z-index: -1;
}
.page-4{
    bottom: -2%;
   right: -2%;
   z-index: -1;
}
.c-magnet{
    top: 53%;
    right: 2%;
    z-index: -1;
}
.circle-magnet{
    bottom: 13%;
    right: 45%;
    z-index: -1;
}
.cube-magnet{
    left: 13%;
    bottom: -18%;
    z-index: -1;
}
.hero-ellipse{
    width: 518px;
    height: 95px;
    background: var(--fc-orange);
    left: 32%;
    top: 30%;
    z-index: -1;
    filter: blur(50px);
    opacity: 39%;
}
.pt_50{
    padding-top: 50px;
}
.h_80{
    height: 80px;
}
/* ============================================== powerful tools ================================ */

.bg-powerful-clr{
    background: var(--fc-offwhite);
}


.pt-11{
    padding-top: 11px;
}

.img-1{
    left: 10%;
    top: 10%;
}
.img-2{
    right: 55%;
    bottom: 10%;
}
.img-3{
    right: 10%;
    top: 10%;
}
.mb-20{
    margin-bottom: 20px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pb-20{
    padding-bottom: 20px;
}


/* @media (min-width:768px) and (max-width:992px){
    .max-w-325{
        max-width: 325px;
    }
} */
@media (max-width:768px) {
    .w_17{
      max-width: 17.48px !important;
    }
    .h_17{
        height: 17.49px !important;
    }
    .rotation_42{
        transform: rotate(-59.05deg);
     } 
}
@media (max-width:992px) {
    .overFlowHidden {
        overflow: hidden !important;
    }

    ul.menulist.show {
        right: 0;
    }

    .menuIcon.show>span {
        top: -8px !important;
        position: relative !important;
    }

    .menuIcon {
        width: 30px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        transition: all 300ms linear;
        /* top: 31px; */
        right: 12px;
        /* position: fixed; */
    }
    .menuIcon>span {
        width: 100%;
        height: 4px;
        background: var(--fc-black);
        position: relative;
        z-index: 3;
        transition: all 300ms linear;
    }

    .menuIcon.show>span {
        top: -8px !important;
        position: relative !important;
    }

    .menulist {
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: var(--fc-white);
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 3;
        justify-content: center;
        align-items: center;
    }

    .cross span:nth-child(1) {
        transform: rotate(47deg) translateY(0px);
        transition: all 300ms linear;
        position: relative;
        top: 11px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 300ms;
    }

    .cross span:nth-child(3) {
        transform: rotate(135deg) translateY(0px);
        transition: all 300ms linear;
        position: relative;
        top: -9px;
    }
    .justify_content_end{
        justify-content: end;
    }
    .underline-2::after{
        content: "";
        background-image: url(../images/svg/underline-img.svg);
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 100%;
        max-width: 345px;
        height: 11px;
    }

}
@media (min-width:576px) {
    .py-sm-40{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .btnn{
        padding: 17px 38px;
        border-radius: 41px;
        background: var(--fc-orange);
        border: 1px solid transparent;
        transition: all 300ms linear;
    }
    .py-80{
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media (min-width:768px) {
    .min_vh_100{
        min-height: 100vh;
    }
    .orange-circle{
        top: 22%;
        left: 40%;
        z-index: -1;
    }
    .cube-magnet{
        left: 1%;
        z-index: -1;
    }
    .max-w-525{
        max-width: 525px;
    }
    .max-w-487{
        max-width: 487px;
    }
  
    .py-md-80{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .flex_grow_1{
        flex-grow: 1;
    }
    .d_flex{
        display: flex;
    }
    .py-md-146-160{
        padding-top: 146px;
        padding-bottom: 160px;
    }
}
@media (min-width:992px) {
    .orange-circle{
        top: 22%;
        left: 35%;
    }
    .page-1{
        top: 1%;
        left: 2%;
    }
    .page-2{
        top: 1%;
       right: 2%;
    }
    .page-3{
        bottom: 1%;
       left: 2%;
    }
    .page-4{
        bottom: 1%;
       right: 2%;
    }
    .c-magnet{
        top: 45%;
        right: 7%;
    }
    .circle-magnet{
        bottom: 14%;
        right: 45%;
    }
    .cube-magnet{
        left: 1%;
    } 
    .underline::after{
        content: "";
        background-image: url(../images/svg/underline-img.svg);
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 100%;
        max-width: 345px;
        height: 11px;
    }
    .max-w-556{
        max-width: 556px;
    }
}